@{
    ViewBag.Title = "Home Page";
}

<div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <img src="http://yungpost.com/wp-content/uploads/2013/07/yuwa_jharkhand2_20100830.jpg" style="margin:50px 0px">
    <img src="http://www.streetfootballworld.org/sites/default/files/styles/network-members-details-logo/public/YuwaLogo_Orange_0.png?itok=jw1ScC-w">
</div>